/* CSS Document */
.rtl .component-inner{
	direction:ltr;
}
.rtl .component-inner *{
	direction:rtl;
}
.rtl #facebox{
	direction:ltr;
}
.rtl #facebox .content{
	direction:rtl;
}
.rtl #wrapslider {
	direction:ltr;
}
.rtl #wrapslider * {
	direction:ltr;
}
#remember,
#modlgn-remember {
	padding: 0;
	background: none;
}